:root {
  --blue-100: #4286f5;
  --blue-200: #b3d8fe;
  --blue-300: #8dc0fc;
  --blue-400: #70a9f9;
  --blue-500: #4286f5;
  --blue-600: #3067d2;
  --blue-700: #214cb0;
  --blue-800: #15348e;
  --blue-900: #0c2475;
  --text: #404040;
  --dark-grey: #bfbfbf;
  --subtle-grey: #c9c9d9;
  --grey: #c9c9d9;
  --line-stroke: #dde5e9;
  --background: #f6f9ff;
}
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.5px;
  line-height: 150%;
}
body {
  overflow-x: hidden;
  background-color: var(--background);
}

/* button */
.button-primary {
  background-color: var(--blue-500);
  color: white;
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 24px;
  padding: 8px 24px;
  cursor: pointer;
}
.button-secondary {
  background-color: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid white;
  padding: 12px 16px;
  border-radius: 8px;
  cursor: pointer;
}
/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 16px 72px;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 9999;
  color: white;
  background-color: var(--background);
}
.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  color: var(--text);
  font-size: 16px;
  font-weight: 500;
}
.logo-wrapper img {
  width: 37px;
  height: 17.971px;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 56px;
  color: var(--text);
}
nav ul li a {
  font-size: 16px;
  color: var(--text);
  text-decoration: none;
  transition: color 0.5s ease;
}
nav ul li a:hover {
  color: var(--blue-500);
  text-decoration: underline var(--blue-500);
  text-underline-offset: 8px;
}

/* home */
.hero-wrapper {
  background-image: url("./assets/hero/hero-img.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 72px;
}
.hero-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 8px; */
  margin-top: -200px;
  color: white;
}
.hero-text-wrapper p {
  font-size: 32px;
  font-weight: 600;
}
.hero-text-wrapper h1 {
  font-size: 36px;
  font-weight: 700;
}
.hero-text-wrapper h1 span {
  color: #ffbf35;
}
.hero-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}
/* short info */
.shortInfo-wrapper {
  display: flex;
  justify-content: space-evenly;
  padding: 12px;
  color: white;
  align-items: center;
  width: 100%;
  background-color: var(--blue-500);
}
.shortInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shortInfo h1 {
  font-size: 28px;
  font-weight: 600;
}
.shortInfo p {
  font-size: 20px;
  font-weight: 400;
}

/* about */
#about {
  overflow-y: hidden;
  position: relative;
}
.about-wrapper {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 80px 72px;
  gap: 150px;
}
.about-absolute-logo {
  position: absolute;
  top: 75px;
  left: 550px;
  z-index: 1000;
  width: 80px;
  height: 42px;
  transform: rotate(-14.347deg);
}
.about-img-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.about-img-wrapper img {
  width: 450px;
  height: 450px;
  object-fit: cover;
  padding: 20px 20px 28px 20px;
  background-color: white;
  box-shadow: 0px 410px 115px 0px rgba(64, 64, 64, 0),
    0px 263px 105px 0px rgba(64, 64, 64, 0.01),
    0px 148px 89px 0px rgba(64, 64, 64, 0.05),
    0px 66px 66px 0px rgba(64, 64, 64, 0.09),
    0px 16px 36px 0px rgba(64, 64, 64, 0.1);
}
.about-img-wrapper h1 {
  font-size: 32px;
  font-weight: 600;
  color: var(--black);
  padding: 16px 20px 36px 20px;
  background-color: white;
  box-shadow: 0px 410px 115px 0px rgba(64, 64, 64, 0),
    0px 263px 105px 0px rgba(64, 64, 64, 0.01),
    0px 148px 89px 0px rgba(64, 64, 64, 0.05),
    0px 66px 66px 0px rgba(64, 64, 64, 0.09),
    0px 16px 36px 0px rgba(64, 64, 64, 0.1);
}
.about-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.about-text-title-wrapper h1 {
  color: var(--text);
  font-size: 36px;
  font-weight: 700;
}
.about-text-title-wrapper h1 span {
  color: #ffbf35;
}
.about-text-details-wrapper {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.about-text-detail {
  display: flex;
  gap: 8px;
  flex-direction: column;
  color: var(--text);
  padding: 24px;
  border: 1px solid var(--grey);
  border-radius: 12px;
}
.about-text-detail h3 {
  font-size: 24px;
  font-weight: 500;
}
.about-text-detail p {
  font-size: 14px;
  font-weight: 400;
}
.about-absolute-vector {
  position: absolute;
  bottom: 25px;
  right: 30px;
  width: 160px;
  height: 24px;
  z-index: 1000;
}
/* footer */
.footer-wrapper {
  padding: 81px 71px 33px 125px;
  display: inline-flex;
  justify-content: center;
  align-items: flex-end;
  gap: 414px;
  color: var(--text);
}
.GDSC-footer-wrapper {
  width: 443px;
  height: 233px;
}
.logo-footer-wrapper {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  font-size: 28px;
}
.text-footer-wrapper {
  padding-top: 80px;
  font-size: 24px;
}
.Quick-footer-wrapper {
  width: 212px;
  height: 236px;
}
.power-footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
