:root {
  --blue-100: #4286f5;
  --blue-200: #b3d8fe;
  --blue-300: #8dc0fc;
  --blue-400: #70a9f9;
  --blue-500: #4286f5;
  --blue-600: #3067d2;
  --blue-700: #214cb0;
  --blue-800: #15348e;
  --blue-900: #0c2475;
  --text: #404040;
  --dark-grey: #bfbfbf;
  --subtle-grey: #c9c9d9;
  --grey: #c9c9d9;
  --line-stroke: #dde5e9;
  --background: #f6f9ff;
}
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.5px;
  line-height: 150%;
}
body {
  overflow-x: hidden;
  background-color: var(--background);
}

/* button */
.button-primary {
  background-color: var(--blue-500);
  color: white;
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 24px;
  padding: 8px 24px;
  cursor: pointer;
}
.button-secondary {
  background-color: transparent;
  color: var(--blue-500);
  font-size: 18px;
  font-weight: 500;
  border: 1px solid var(--blue-500);
  border-radius: 24px;
  padding: 8px 24px;
  cursor: pointer;
}
/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 16px 72px;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 9999;
  color: white;
  background-color: var(--background);
}
.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  color: var(--text);
  font-size: 16px;
  font-weight: 500;
}
.logo-wrapper img {
  width: 37px;
  height: 17.971px;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 56px;
  color: var(--text);
}
nav ul li a {
  font-size: 16px;
  color: var(--text);
  text-decoration: none;
  transition: color 0.5s ease;
}
nav ul li a:hover {
  color: var(--blue-500);
  text-decoration: underline var(--blue-500);
  text-underline-offset: 8px;
}

/* home */
.hero-wrapper {
  background-image: url("./assets/hero/hero-img.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 72px;
}
.hero-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 8px; */
  margin-top: -200px;
  color: white;
}
.hero-text-wrapper p {
  font-size: 32px;
  font-weight: 600;
}
.hero-text-wrapper h1 {
  font-size: 36px;
  font-weight: 700;
}
.hero-text-wrapper h1 span {
  color: #ffbf35;
}
.hero-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}
/* short info */
.shortInfo-wrapper {
  display: flex;
  justify-content: space-evenly;
  padding: 12px;
  color: white;
  align-items: center;
  width: 100%;
  background-color: var(--blue-500);
}
.shortInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shortInfo h1 {
  font-size: 28px;
  font-weight: 600;
}
.shortInfo p {
  font-size: 20px;
  font-weight: 400;
}

/* about */
#about {
  overflow-y: hidden;
  position: relative;
}
.about-wrapper {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 80px 72px;
  gap: 150px;
}
.about-absolute-logo {
  position: absolute;
  top: 75px;
  left: 550px;
  z-index: 1000;
  width: 80px;
  height: 42px;
  transform: rotate(-14.347deg);
}
.about-img-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.about-img-wrapper img {
  width: 450px;
  height: 450px;
  object-fit: cover;
  padding: 20px 20px 28px 20px;
  background-color: white;
  box-shadow: 0px 410px 115px 0px rgba(64, 64, 64, 0),
    0px 263px 105px 0px rgba(64, 64, 64, 0.01),
    0px 148px 89px 0px rgba(64, 64, 64, 0.05),
    0px 66px 66px 0px rgba(64, 64, 64, 0.09),
    0px 16px 36px 0px rgba(64, 64, 64, 0.1);
}
.about-img-wrapper h1 {
  font-size: 32px;
  font-weight: 600;
  color: var(--black);
  padding: 16px 20px 36px 20px;
  background-color: white;
  box-shadow: 0px 410px 115px 0px rgba(64, 64, 64, 0),
    0px 263px 105px 0px rgba(64, 64, 64, 0.01),
    0px 148px 89px 0px rgba(64, 64, 64, 0.05),
    0px 66px 66px 0px rgba(64, 64, 64, 0.09),
    0px 16px 36px 0px rgba(64, 64, 64, 0.1);
}
.about-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.about-text-title-wrapper h1 {
  color: var(--text);
  font-size: 36px;
  font-weight: 700;
}
.about-text-title-wrapper h1 span {
  color: #ffbf35;
}
.about-text-details-wrapper {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.about-text-detail {
  display: flex;
  gap: 8px;
  flex-direction: column;
  color: var(--text);
  padding: 24px;
  border: 1px solid var(--grey);
  border-radius: 12px;
}
.about-text-detail h3 {
  font-size: 24px;
  font-weight: 500;
}
.about-text-detail p {
  font-size: 14px;
  font-weight: 400;
}
.about-absolute-vector {
  position: absolute;
  bottom: 25px;
  right: 30px;
  width: 160px;
  height: 24px;
  z-index: 1000;
}
/* events */
#events {
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
}
/* upcoming-events */
.events-upcoming-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  padding: 72px 200px;
  gap: 72px;
  background-color: white;
}
.event-img-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.event-text-wrapper {
  gap: 24px;
}
.event-text-wrapper h1 {
  color: var(--blue-500);
  font-size: 36px;
  font-weight: 700;
}
.event-text-wrapper p {
  color: var(--text);
  font-size: 28px;
  font-weight: 400;
}
.event-upcoming-cards-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.event-upcoming-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  gap: 100px;
  border-radius: 12px;
  border: 1px solid var(--line-stroke);
}
.event-upcoming-card-text {
  display: flex;
  gap: 32px;
}
.event-upcoming-text-calendar {
  display: flex;
  flex-direction: column;
  padding: 16px 8px;
}
.event-upcoming-text-calendar h3 {
  color: var(--blue-500);
  background: var(--background);
  font-size: 16px;
  font-weight: 400;
}
.event-upcoming-text-calendar h1 {
  color: var(--blue-500);
  background: var(--background);
  font-size: 32px;
  font-weight: 700;
}
.event-upcoming-text-calendar p {
  background: var(--blue-500);
  color: var(--background);
  font-size: 16px;
  font-weight: 400;
  padding: 8px;
}
.event-upcoming-text-name {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.event-upcoming-text-name-key {
  display: flex;
  gap: 8px;
}
.event-upcoming-text-name-key p {
  padding: 4px;
  border-radius: 12px;
  border: 1px solid var(--blue-500);
  color: var(--blue-500);
  font-size: 12px;
  font-weight: 400;
}
.event-upcoming-text-name-title {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--text);
}
.event-upcoming-text-name-title-place {
  display: flex;
  gap: 12px;
  color: #797979;
  font-size: 18px;
  font-weight: 400;
}
.event-upcoming-text-name-button {
  display: flex;
  gap: 24px;
}
/* post event */
.events-post-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  min-height: 100vh;
  padding: 72px;
  gap: 72px;
  background-color: var(--background);
}
.events-post-text-img-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.events-post-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.events-post-text h1 {
  color: var(--blue-500);
  font-size: 40px;
  font-weight: 700;
}
.events-post-text p {
  color: var(--text);
  font-size: 28px;
  font-weight: 400;
}
.card-container {
  display: flex;
  gap: 24px;
  overflow-x: auto;
}
.card-container::-webkit-scrollbar {
  display: flex;
  gap: 24px;
  overflow-x: auto;
  display: none;
}
.card-event {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 24px;
  border-radius: 16px;
  border: 1px solid var(--Dark-grey, #bfbfbf);
  background: #fff;
}
.card-event-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.card-event-text-wrapper h3 {
  color: var(--blue-700);
  font-size: 16px;
  font-weight: 600;
}
.card-event-text-location {
  display: flex;
  flex-direction: column;
  color: var(--text);
  gap: 8px;
}
.text-location-icon {
  display: flex;
  gap: 12px;
}
.card-event-join-wrapper {
  display: flex;
  justify-content: space-between;
}
/* quotes */
#quotes {
  position: relative;
}
.quotes-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background: var(--blue-500);
  padding: 28px 72px;
}
.quotes-wrapper p {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
}
.quotes-button-wrapper {
  display: flex;
  justify-content: center;
  align-item: center;
}
.quotes-wrapper button {
  border-radius: 8px;
  border: 1px solid #fff;
  padding: 12px 20px;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
/* organizers */
.organizers-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  gap: 72px;
  background-color: white;
}
.organizers-text-wrapper {
  display: flex;
  flex-direction: column;
  padding: 72px 200px;
}
.organizers-text-wrapper p {
  color: var(--text);
  font-size: 28px;
  font-weight: 400;
}
.organizers-title {
  display: flex;
  gap: 24px;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: var(--blue-500);
  font-size: 36px;
  font-weight: 700;
}
.organizers-foto {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  position: relative;
  gap: 0;
  padding: 72px 0;
}

.organizers-picture-wrapper-1 {
  display: flex;
  width: calc(240px * 16);
  animation: slide-right 20s linear infinite;
}

.organizers-picture-wrapper-1 img {
  width: 240px;
  height: 343px;
  object-fit: cover;
}

.organizers-picture-wrapper-2 {
  display: flex;
  width: calc(240px * 16); 
  animation: slide-left 20s linear infinite;
}

.organizers-picture-wrapper-2 img {
  width: 240px;
  height: 343px;
  object-fit: cover;
}

@keyframes slide-right {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-50%);
  }
}

@keyframes slide-left {
  0% {
      transform: translateX(-50%);
  }
  100% {
      transform: translateX(0);
  }
}

/* media partners */

/* footer */
footer {
  display: flex;
  background: #fff;
  padding: 42px 98px;
}
.footer-wrapper {
  color: var(--text);
  display: flex;
  justify-content: center;
  gap: 200px;
}
.GDSC-footer-wrapper {
  display: flex;
  height: 266px;
  weight: 443px;
  flex-direction: column;
  justify-content: center;
  gap: 80px;
}
.logo-footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}
.text-footer-wrapper {
  display: flex;
  padding: 10px;
  align-items: left;
  font-size: 16px;
  font-weight: 500;
}
.Quick-footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.text-quick-footer-wrapper {
  font-size: 24px;
  font-weight: 500;
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}
.list-quick-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
}
.list-quick-footer-wrapper p {
  font-size: 18px;
  font-weight: 500;
}
.power-footer-wrapper {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: right;
}
