:rrot{
    --blue-100: #4286F5;
    --blue-200: #B3D8FE;
    --blue-300: #8DC0FC;
    --blue-400: #70A9F9;
    --blue-500: #4286F5;
    --blue-600: #3067D2;
    --blue-700: #214CB0;
    --blue-800: #15348E;
    --blue-900: #0C2475;
    --black: #404040; 
    --white: #fff;
    --black: #404040;
    
} 